# ─────────────────────────────────────────────
#  requirements.txt · Plataforma Análisis Espacial
# ─────────────────────────────────────────────

# Web app
streamlit>=1.43.0
streamlit-folium>=0.24.0

# Geo / raster
rasterio>=1.4.3
geopandas>=1.0.1
shapely>=2.0.7
pyproj>=3.7.0
pyogrio>=0.10.0

# Tile / basemap
contextily>=1.6.2

# Maps
folium>=0.19.4

# Visualización
plotly>=6.0.0
matplotlib>=3.10.0
matplotlib-scalebar

# Data / ML
numpy>=2.2.0
pandas>=2.2.3
scikit-learn>=1.6.0
